section.about_me{
    position: relative;
    height: auto;
    //background: $bg_about_me;
    background: $nav-color;
    background: #300a44;
    display: grid;
    grid-template-columns:4% 1fr 4%;
    grid-template-rows:60px auto 1fr 60px;
    grid-template-areas:". . ."
                        ". about_me_content ."
                        ". about_me_image ."
                        '. . .';
}
.about_me_image {
    margin-top: 60px;
    position: relative;
    grid-area: about_me_image;
    justify-self: start;
    align-self: end;
    opacity: 1;
    //background:linear-gradient(to bottom left,#50E3C2 , cyan);
    background: linear-gradient(to top left, #4716ed, #50E3C2);
    // width based on about_me-width
    animation: none;
    //animation: about_me_image .8s 1.5s ease-in-out forwards;

    & .about_me_con{
        position: absolute;
        // based on this widh .abt_me_image_height
        width: 250px;
        height: auto;
        z-index: 9;
        top: 0%;
        right: 0%;
        & img{
            display: block;
            width: 100%;
            height: auto; 
        }
        
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            z-index: 9;
            background:linear-gradient(to bottom right, #4716ed , #50E3C2);
        }
    }
}
.about_me_content {
    grid-area: about_me_content;
    width: 100%;
    height: auto;
    justify-self: start;
    align-self: center;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: hidden;
    & h1 {
        font-family: $font-family-sansp;
        font-size: $con_title_h1_m;
        font-weight: 600;
        color: #fff;
        line-height: 1;
        overflow: hidden;
    }
    & p {
        overflow: hidden;
        margin-top:$con_title_p_margin_top;
        color:#fff;
        font-size: $con_p_font_size_sm;
        font-family: $font-family-sansp;

        & strong {
            color: cyan;
        }

        & svg{
            display: inline-block;
             height: 1em;
             width: 1em;
             vertical-align: baseline;
        }
    }
}


.aboutCircle{
    position: absolute;
    background: cyan;
    border-radius: 50%;
    z-index: 9;
}

.c1{
    height: 10px;
    width: 10px;
    top: 5%;
    left: 90%;
}

.c2 {
    height: 15px;
    width: 15px;
    top: 10%;
    left: 50%;
    animation: tick2 10s 4s ease-in infinite;
}


.c4{
    height: 12px;
    width: 12px;
    top: 80%;
    left: 90%;
    opacity:0;
    animation: tick1 14s ease-in infinite;
}
.c5 {
    height: 15px;
    width: 15px;
    top: 90%;
    left: 60%;
    animation: tick2 10s 2s ease-in infinite;
}

.c6 {
    height: 11px;
    width: 11px;
    top: 70%;
    left: 75%;
    opacity: 0;
    animation: tick2 14s 5s ease-in infinite;
}

@keyframes about_me_con{
    0% {}
    20% {opacity: 0.6;}
    25% {opacity: 1}
    100% {
        top: -3%;
        right: -3%;
        opacity: 1;
    }
}

@keyframes about_me_image{
    100% {
        opacity: 1;
    }
}

@keyframes tick1 {
    0%{
        opacity: 0;
    }

    2% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }

    77% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes tick2 {
    0%{
        opacity: 0;
    }

    2% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }

    77% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (min-width: 500px){
    section.about_me{
        //background: $bg_about_me;
        display: grid;
        grid-template-columns: 4% 1fr 4%;
        grid-template-rows:60px auto 1fr 60px;
        grid-template-areas:". . ."
                            ". about_me_content ."
                            ". about_me_image ."
                            '. . .';
    }
    .about_me_image {
        margin-top: 70px;
        grid-area: about_me_image;
        justify-self: start;
        align-self: end;
        animation: none;
        // width based on about_me-width
        //animation: about_me_image .8s 1.5s ease-in-out forwards;

        & .about_me_con{
            // based on this widh .abt_me_image_height
            width: 390px;
            //animation: about_me_con_lvl_1 1s 2.2s ease-in-out forwards;
        }
    }
    .about_me_content {
        grid-area: about_me_content;
        width: 100%;
        height: auto;
        justify-self: start;
        align-self: center;
        margin: 0px;
        padding: 0;
        & h1 {
            font-size: $con_title_h1_m;
            line-height: 1;
            font-weight: 700;
        }
        & p {
            font-size: $con_p_font_size_m;
        }
    }
}
@media only screen and (min-width: 768px){
    section.about_me{
        height: auto;
        //background: $bg_about_me;
        display: grid;
        grid-template-columns: 3% 1fr 3%;
        grid-template-rows:80px auto 1fr 80px;
        grid-template-areas:". . ."
                            ". about_me_content ."
                            ". about_me_image ."
                            '. . .';
    }
    .about_me_image {
        margin-top: 80px;
        grid-area: about_me_image;
        justify-self: start;
        align-self: end;
        opacity: 1;
        animation: none;
        margin-left: 20px;
        // width based on about_me-width
        //animation: about_me_image .8s 1.5s ease-in-out forwards;

        & .about_me_con{
            // based on this widh .abt_me_image_height
            width: 420px;
            //animation: about_me_con 1s 2.2s ease-in-out forwards;
        }
    }
    .about_me_content {
        grid-area: about_me_content;
        width: 100%;
        height: auto;
        justify-self: start;
        align-self: center;
        margin: 0px;
        padding-right: 0px;
        padding-left: 20px;
        & h1 {
            font-size: $con_title_h1_lg;
            line-height: 1;
        }
        & p {
            font-size: $con_title_p_lg;
        }
    }
}
@media only screen and (min-width: 900px){
    section.about_me{
        //background: $bg_about_me;
        margin: 0;
        display: grid;
        grid-template-columns:2% 1fr 1.2fr 2%;
        grid-template-rows: 120px 1fr 100px;
        grid-template-areas:". . . . "
                            ". about_image about_me_content ."
                            ". . . .";
    }
    .about_me_image {
        grid-area: about_image;
        justify-self: start;
        align-self: center;
        // width based on about_me-width
        margin: 0;
        animation: none;
        background: linear-gradient(to top left, #4716ed, #50E3C2);
    
        & .about_me_con{
            // based on this widh .abt_me_image_height
            width: 350px;
        }
    }
    .about_me_content {
        grid-area: about_me_content;
        width: 100%;
        justify-self: end;
        align-self: center;
        //padding-right: $con_padding_right;
    }
}
@media only screen and (min-width: 1024px){
    section.about_me{
        //background: $bg_about_me;
        margin: 0;
        display: grid;
        grid-template-columns:3% 1fr 1fr 3%;
        grid-template-rows: 150px 1fr 120px;
        grid-template-areas:". . . . "
                            ". about_image about_me_content ."
                            ". . . .";
    }
    .about_me_image {
        grid-area: about_image;
        justify-self: start;
        align-self: center;
        // width based on about_me-width
        margin: 0;
        animation: none;
        & .about_me_con{
            // based on this widh .abt_me_image_height
            width: 400px;
            animation: about_me_con_lvl_3 1s 2.2s ease-in-out forwards;
        }
    }
    .about_me_content {
        grid-area: about_me_content;
        width: 100%;
        justify-self: end;
        align-self: center;
        padding: 0;
        margin: 0;
        //padding-right: $con_padding_right;
    }
}
@media only screen and (min-width: 1400px){
    section.about_me{
        //background: $bg_about_me;
        justify-content: center;
        align-content: center;
        margin: 0;
        display: grid;
        grid-template-columns:1fr 650px 650px 1fr;
        grid-template-rows: 180px auto 180px;
        grid-template-areas:". . . . "
                            ". about_image about_me_content ."
                            ". . . .";
    }
    .about_me_image {
        grid-area: about_image;
        justify-self: start;
        align-self: center;
        // width based on about_me-width
        & .about_me_con{
            // based on this widh .abt_me_image_height
            width: 460px;
        }
    }
    .about_me_content {
        justify-self: end;
    }
}

@keyframes about_me_con_lvl_1{
    0% {}
    20% {opacity: 0.6;}
    25% {opacity: 1}
    100% {
        top: -5%;
        right: -5%;
        opacity: 1;
    }
}

@keyframes about_me_con_lvl_3{
    0% {}
    20% {opacity: 0.6;}
    25% {opacity: 1}
    100% {
        top: -7%;
        right: -7%;
        opacity: 1;
    }
}



