
section.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: block;
  opacity: 1;
  background: #fff;
  z-index: 99999999;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in; }
  section.loader .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 65px; }
  section.loader .preloader span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    width: 9px;
    height: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-animation: preloader 2s infinite ease-in-out;
    animation: preloader 2s infinite ease-in-out; }
  section.loader .preloader span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms; }
  section.loader .preloader span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms; }
  section.loader .preloader span:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms; }
  section.loader .preloader span:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms; }
  section.loader .preloader span:nth-child(6) {
    left: 55px;
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms; }

@-webkit-keyframes preloader {
  0% {
    height: 5px;
    background: rgba(0, 0, 0, 0.1); }
  25% {
    height: 80px;
    background: $nav-color; }
  50%, 100% {
    height: 5px;
    background: rgba(0, 0, 0, 0.1); } }

@keyframes preloader {
  0% {
    height: 5px;
    background: rgba(0, 0, 0, 0.1); }
  25% {
    height: 80px;
    background: $nav-color; }
  50%, 100% {
    height: 5px;
    background: rgba(0, 0, 0, 0.1); } }