
//------Myskills global
section.myskills{
    font-family: $font-family-sansp;
    position: relative;
    font-size: $font-size;
    width: 100%;
    height: 100vh;
    background: $dark-white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:50px 1fr 50px;
    grid-template-areas: '. .'
                         'programming_languages_content programming_languages'
                         '. .';

    & .programming_languages_content{
        grid-area: programming_languages_content;
        
    }

    & .programming_languages{
        grid-area: programming_languages;
       
    }
}

.programming_languages_content {
    justify-self: end;
    align-self: center;
    padding-left: $con_padding_right; 
    & h1 {
        font-family: $font-family-sansp;
        font-size: $con_title_h1_lg;
        color: $dark-blue;
        line-height: 1;
    }

    & p {
        margin-top:$con_title_p_margin_top;
        color:#54565a;
        font-size: $con_title_p_lg;
    }
}


.programming_languages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 155px;
    height: auto;
    width: 35em;
    justify-self: center;
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    // the stable container _> position relative
    & .lang_cont_relative{
        position: relative;
        height: 100%;
        width: 100%;
        background: #ddd;
        & .lang_cont{
            background: #FFF;
            position: absolute;
            height: 100%;
            width: 100%;
            top:0px;
            left: 0px;
            animation: lang_cont .6s ease-in-out forwards;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 1fr;
            grid-template-areas: 'icon_con'
                                'h1';
            & .icon_con {
                grid-area: icon_con;
                align-self: center;
                justify-self: center;
                height: 50%;
                width: 95%;
                overflow: hidden;
    
                & svg{
                    height: 100%;
                    width: 100%;
                }
            }
            & .html, & .mysql{
                margin-left: 65%;
            }
            & .php{
                margin-left: 30%;
            }

            & h1 {
                font-size: $con_title_p_lg;
                margin-top: -5%;
                text-align: center;
                color: $dark-blue;
            }
        }

        //-------------------------------->
        //-------------------------------->
        //-------------------------------->
    }
}

@keyframes lang_cont{
    0%{}
    100%{
        top: -13px;
        left: -13px;
    }
}

