section.contact_me#contact
    .contact_content.content
        h1 Shoot me a message
        p Have an amazing idea or project, something related to technology that excites me or have an offer!!
    form.contact_form
        input#firstName(type="text" name ="firstName" placeholder = "First name*" required)
        input#lastName(type="text" name ="lastName" placeholder = "Last name")
        input#email(type="email" name ="email" placeholder = "your email*" required)
        textarea#textarea(name="textarea", cols="30", rows="10" placeholder = "Your message here!! \"The quick brown fox jumps over the lazy dog\" " required)
        button.form_button
            a Send message
