section.footer
    ul.lists 
        li
            a.github(href="https://github.com/Orzoon" target = "_blank") github
        li
            a.linkedin(href="https://au.linkedin.com/in/arjun-kunwar" target="_blank") linkedin
        li
            a.codepen(href="https://codepen.io/orzoon" target= "blank") codepen
        li
            a(href="#skills") skills
        li
            a(href="#projects") projects
        li
            a(href="#video") videos
        li
            a(href="#contact") contacts
