section.footer
    ul.lists 
        li
            a.github(href="") github
        li
            a.linkedin(href="") linkedin
        li
            a.codepen(href="") codepen
        li
            a(href="#skills") skills
        li
            a(href="#projects") projects
        li
            a(href="#video") videos
        li
            a(href="#contact") contacts
