section.head_landing#head_landing
    .particle_js#particles-js
    .head_overlay
        .head_title 
            h1 Graduate Web <br>Developer
        .head_button
            button About me
        .head_image
            .head_image_con
                img(src="./assests/image_1.jpg")
        

