section.my_video#video
    .video_container
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AYnKuj-9iEw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    .video_content
        h1 Speed art of creating 3D button
        p I Never thought watching timelapse of my old video would be this fun!. you can view the actual project on my codepen.
        button.video_button
            a(href ="https://codepen.io/orzoon/pen/EOGyxJ" target = "_blank") view the code