nav.nav_navigation
    .navigation_logo
        <svg class="logoSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.375 79.375" height="50" width="50">
            <g font-weight="400" letter-spacing="0" word-spacing="0" stroke-width=".265">
            <text y="247.751" x="33.78" style="line-height:6.61458302px" font-size="22.578" font-family="sans-serif" transform="translate(0 -217.625)"></text>
            <g style="line-height:20.70943642px;-inkscape-font-specification:'Bauhaus 93, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start" aria-label="Or" font-size="70.688" font-family="Bauhaus 93">
            <path d="M27.863 9.967q8.96 0 15.354 8.137 6.426 8.137 6.426 19.474 0 11.53-6.457 19.59-6.456 8.06-15.694 8.06-9.175 0-15.663-8.098-6.487-8.099-6.487-19.552 0-11.569 6.518-19.59 6.55-8.02 16.003-8.02zm-.37 15.503q-3.862 0-6.58 3.547-2.72 3.548-2.72 8.561t2.72 8.561q2.749 3.548 6.58 3.548 3.892 0 6.58-3.51 2.718-3.547 2.718-8.599 0-5.051-2.718-8.56-2.688-3.548-6.58-3.548zM71.608 25.084v15.425q-1.204-.848-2.193-.848-3.151 0-3.151 6.015v18.24H54.71V42.9q0-8.33 3.645-13.266 3.646-4.974 9.732-4.974 1.359 0 3.521.424z">
            </path>
            </g>
            </g>
        </svg> 
    .navigation_links_list_con#navContainer
        ul.navigation_links_list#navUl
            li.closeBtn
                a#closeMenu close menu
                span#closeIcon
            li.navList
                a.navLink(href="#about-me") About me
            li.navList
                a.navLink(href="#skills") Skills
            li.navList
                a.navLink(href="#projects") Projects
            li.navList
                a.navLink(href="#video") Video
            li.navList
                a.nav_contact.navLink(href="#contact") Contact
    .navigation_ham_menu#navMenu