section.projects_codepen
    .projects_cont
        .project_codepen
            .img_con
                .img_con_title
                    h1 Credit card checkout UI
                img(src="./assests/di_1.JPG", alt="project_image_one")
            .img_con_desc
                p Clean credit card ui designed by Regina Smirnova which is implemented using HTML, CSS and is given functionaity with little bit of Javascript.
        .project_codepen
            .img_con
                .img_con_title
                    h1 Flight boarding pass UI
                img(src="./assests/di_2.JPG", alt="project_image_two")
            .img_con_desc
                p  Another cool boarding pass UI designed by Oleg Frolov which is being implemented on web with CSS grid and flexbox.

    .projects_content
        h1 Design implementation using HTML, CSS and Javascript
        p More of my Front-End projects can be viewed on codepen
    button.projects_button 
        a visit my codepen