section.projects.sections#projects
    .project_image_con.container#algorithm_container
        .project_image
            .project_image_text
                a(href="/project_algorithms" target="_blank") Visualising sorting algorithms
            img.image(src="./assests/algorithm.JPG")
        .project_image_desc 
            h1 Technology used
            p HTML(Canvas), CSS, JavaScript

    .project_desc.content
        h1#algorithm_heading Visualising few Sorting Algorithms in HTML canvas
        p#algorithm_paragraph Working around HTML canvas to visualise sorting algorithms such as Bubble sort, Comb sort, Insertion sort, Selection sort.
    