section.projects.sections
    .project_image_con.container
        .project_image
            .project_image_text#taskApp
                p Full stack javascript application
            img.image(src="./assests/project_taskapp.JPG")
        .project_image_desc 
            h1 Technology used
            p Material-UI, React, Express, Mongodb

    .project_desc.content
        h1 REST based API built with NodeJs and Express
        p React js at Front-End consumes resources through several end points made available by Express. In this app only authenticated users can perform CRUD operations and this process is implemented with JWT.
    